<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% assign findAppKey = globals.get.ID | remove: "/_system/apps/" | split: "/" -%}
{% assign appKey = findAppKey[0] -%}
{% include "/_System/apps/{{appKey}}/_assets/app/_head.inc" -%}
</head>
<body data-appKey="{{appKey}}">
{% include "/_System/apps/{{appKey}}/_assets/app/_tabs.inc" %}
<div id="container-body">
  <h1><span>Page Proofer Setup</span></h1>
  <form id="companySettingsForm" >
    <p>
      <label for="accountID">Account ID*</label>
      <input type="text" id="accountID" name="accountID" value="{{pageProofer.accountID}}"/>
    </p>
    <p>
      <label for="siteID">Site ID*</label>
      <input type="text" id="siteID" name="siteID" value="{{pageProofer.siteID}}"/>
    </p>
    <p>
      <label for="BCdomain">Custom BC Domain</label>
      <input type="text" id="BCdomain" name="BCdomain" value="{{pageProofer.BCdomain}}"/>
    </p>
    <p>
      <label for="enabled">Enabled</label>
      <input type="checkbox" name="enabled" {% if pageProofer.enabled == "on" -%}checked="checked"{% endif -%}/>
    </p>
    <p>
      <label for="disableBC">Disable PageProofer on<br />Business Catalyst Domain</label>
      <input type="checkbox" name="disableBC" {% if pageProofer.disableBC == "on" -%}checked="checked"{% endif -%}/>
    </p>
    <p class="submit">
      <input type="submit" value="Save"/>
      <span id="confirmation"></span> </p>
  </form>
</div>
</body>
</html>