<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% assign findAppKey = globals.get.ID | remove: "/_system/apps/" | split: "/" -%}
{% assign appKey = findAppKey[0] -%}
{% include "/_System/apps/{{appKey}}/_assets/app/_head.inc" -%}
</head>
<body data-appKey="{{appKey}}">
{% include "/_System/apps/{{appKey}}/_assets/app/_tabs.inc" %}
<div id="container-body">
	<h1><span>{{appManifest.name}} - Version {{appManifest.version}}</span>    </h1>
    <h2>Description</h2>
	<p>Easily embed Page Proofer code into your Business Catalyst site. What makes this App unique from just adding the default Page Proofer code snippet is that it automatically enables pageproofer if the user is logged into the backend or logged in on the Business Catalyst Domain.</p>
	<p>PageProofer now allows for all users to submit feedback, not just users that have a PageProofer account (not available on all PageProofer Plans). When allowing all users to submit feedback, this app passes in the users email address they use to login to Business Catalyst, saving the user time.
<h2>Developer Notes</h2>
<h3>Tag to Enable App on Website</h3>
<p>Place before the closing body tag of the template</p>
<pre>
<code class="http">&#123;% include &quot;/_System/apps/solid-page-proofer/_config/pageProoferCode.inc&quot; -%&#125;</span></code></pre>
    
	<h3>Finding Page Proofer Account ID and Site ID</h3>
	<p>Log into Page Proofer click on the site you are installing it on. See the following address URL.<br>https://app.pageproofer.com/<strong>[Account ID]</strong>/dashboard/<strong>[Site ID]</strong>/</p>
<h2>New in Version {{appManifest.version}}</h2>
<ul>
	<li>Supports PageProofer's new anonymous feature, allowing users without a pageproofer account to give feedback</li>
	<li>Only shows PageProofer's feedback button on the live website when a user has logged into the Business Catalyst admin</li>
	<li>When users submit using the feedback button, this app auto passes the users same email address they use to login to Business Catalyst, making giving feedback even easier</li>
	</ul>	
	<h2>Remove Page Proofer</h2>
<p><strong>WARNING: </strong>Removing this application will delete the app. No modifications will be made to your pages outside the app folder.</p>
<button id = "delete-app" class="btn btn-danger">Delete App</button>
</body>
</html>
